
build-AboutPage_Layout-Desktop_Qt_5_11_1_MSVC2017_64bit-Debug/

build-Icons_Issue_4kMonitor-Desktop_Qt_5_11_1_MSVC2017_64bit-Debug/

build-ITKSnap_Issue_ExtProc-Desktop_Qt_5_11_1_MSVC2017_64bit-Debug/

AboutPage_Layout/AboutPage_Layout\.pro\.user

Icons_Issue_4kMonitor/Icons_Issue_4kMonitor\.pro\.user

ITKSnap_Issue_ExtProc/CMakeLists\.txt\.user

ITKSnap_Issue_ExtProc/ITKSnap_Issue_ExtProc\.pro
