
build-AboutPage_Layout-Desktop_Qt_5_11_1_MSVC2017_64bit-Debug/

build-Icons_Issue_4kMonitor-Desktop_Qt_5_11_1_MSVC2017_64bit-Debug/

build-ITKSnap_Issue_ExtProc-Desktop_Qt_5_11_1_MSVC2017_64bit-Debug/

AboutPage_Layout/AboutPage_Layout\.pro\.user

Icons_Issue_4kMonitor/Icons_Issue_4kMonitor\.pro\.user

ITKSnap_Issue_ExtProc/CMakeLists\.txt\.user

ITKSnap_Issue_ExtProc/ITKSnap_Issue_ExtProc\.pro

build-FontDialog-Desktop_Qt_5_11_1_MSVC2017_64bit-Debug/

FontDialog/FontDialog\.pro\.user

build-ColorDialog-Qt_5_11_1_msvc2017_64_98c2e2-Debug/

ColorDialog/ColorDialog\.pro\.user

build-ImagesPanelTest-Desktop_Qt_5_11_1_MSVC2017_64bit-Debug/

build-ExtAppDownloadTest-Desktop_Qt_5_11_1_MSVC2017_64bit-Debug/

build-zipTest-Desktop_Qt_5_11_1_MSVC2017_64bit-Debug/

ExtAppDownloadTestSBRT.zip

build-layoutTest-Desktop_Qt_5_11_1_MSVC2017_64bit-Debug/
